body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*---- Section1 -----*/
.section1{
    padding-top: 220px;
    text-align: center;
    width: 100%;
    height: 600px;
    background-image: url(/images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.section1 h1{
    font-size: 44px;
    color: #f8f1e7;
}

.sp1{
    color: rgb(255, 0, 68);
}

.section1 p{
    font-size: 20px;
    color: #f8f1e7;
}

.btn1{
    width: 300px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 0, 68);
    border-radius: 10px;
    cursor: pointer;
}

/*---- Section2 -----*/
.section2{
    width: 100%;
    padding-top: 70px;
    text-align: center;
}

.section2 h2{
    font-size: 35px;
}

.section2 .inner-div1{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 .inner-div1 .div1{
    width: 100px;
    height: 100px;
    background-color: rgb(219, 217, 217);
}

.section2 .inner-div1 .div1 h3{
    padding: 20px;
}

.section2 .inner-div1 .div2{
    width: 100px;
    height: 100px;
    background-color: rgb(224, 151, 151);
}

.section2 .inner-div1 .div2 h3{
    padding: 20px;
    color: rgb(230, 64, 64);
}

.section2 .inner-div1 .div1,.div2{
    margin: 5px;
    cursor: pointer;
}

#amount{
    border:none;
}

.btn2{
    width: 300px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 0, 68);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.hrr{
    width: 80%;
}

/*---- Section3 -----*/
.section3{
    width: 100%;
    padding-top: 70px;
    text-align: center;
}

.section3 h2{
    font-size: 35px;
}

.section3 .inner-div1{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 .inner-div1 .card{
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
}

.section3 .inner-div1 .div1{
    background-color: #4F9DA6;
}

.section3 .inner-div1 .div2{
    background-color: #FF5959;
}

.section3 .inner-div1 .div3{
    background-color: #FFF4D6;
}

/*---- Section4 -----*/
.section4{
    width: 80%;
    height: 500px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section4 .inner-div1{
    width: 50%;
}

.section4 .inner-div1 h2{
    font-size: 35px;
}

.section4 .inner-div1 .btn2{
    margin-top: 30px;
    margin-left: 0px;
}

.section4 .inner-div2{
    width: 50%;
   
}

.section4 .inner-div2 img{
    width: 90%;
    height: 80%;
}



/*---- Section5 -----*/
.section5{
    width: 80%;
    height: 500px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section5 .inner-div1{
    width: 50%;
}

.section5 .inner-div1 img{
    width: 90%;
    height: 80%;
}

.section5 .inner-div2{
    width: 50%; 
}

.section5 .inner-div2 h2{
    font-size: 35px;
}

.section5 .inner-div2 .btn2{
    margin-top: 30px;
    margin-left: 0px;
}


/*---- Section6 -----*/
.section6{
    width: 100%;
    padding-top: 70px;
    text-align: center;
}

.section6 h2{
    font-size: 35px;
}

.section6 .inner-div1{
    background-color: #FFF4D6;
    width: 80%;
    height: 200px;
    margin: 70px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}




.section6 .inner-div1 .div1 #email{
    width: 300px;
    height: 50px;
    border: none;
    color: #D9D9D9;
    font-size: 20px;
    font-weight: 600;
    background-color: #D9D9D9;
    padding-left: 10px;
    margin-right: -5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.section6 .inner-div1 .div1 #submit{
    width: 200px;
    height: 52px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF5959;
    margin-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

/*---- Section7 -----*/
.section7{
    width: 80%;
    height: 700px;
    margin: 0 auto;
}

.section7 .inner-div1{
    display: flex;
} 

.section7 .inner-div1 .div1{
    width: 50%;
    padding: 20px;
}

.section7 .inner-div1 .div1 h2{
    font-size: 35px;
}

.section7 .inner-div1 .div1 .info .information{
    display: flex;
}

.section7 .inner-div1 .div1 .info .information img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}



.section7 .inner-div1 .div1 .social-media .social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(45deg, #bc1a42, #de264b);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

.section7 .inner-div1 .div2{
    width: 50%;
}

.section7 .inner-div1 .div2 .title{
    font-size: 35px;
}

.section7 .inner-div1 .div2 .input-container{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding: 10px;
    width: 400px;
}

.section7 .inner-div1 .div2 .input-container label{
    width: 120px;
}


.section7 .inner-div1 .div2 .area{
    width: 400px;
    height: 30px;
}

.section7 .inner-div1 .div2 .textarea{
    width: 400px;
    height: 100px;
}

.section7 .inner-div1 .div2 .btn3{
    width: 300px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 0, 68);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 20px 40px;
}

/*---- Section8 -----*/
.section8{
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: black;
    padding: 10px;
}

.section8 h2{
    font-family: 'Courgette', cursive;
    font-size: 40px;
    color: #FF5959;
}

.section8 p{
    font-size: 20px;
    color: #D9DBE1;
}
